@page "/"

<h1 class="card-title text-info">
    Museum
    Archive
</h1>
<br />
<br />
<br />
<br />
<h2 class="card-title text-info" style="text-align: center">
    A C# Blazor Museum Archival Project Example.
</h2>