@page "/"

<h1 style="color:white;">
    Eaton Lodge 533
    Masonic Lodge
    Archive
</h1>
<br />
<br />
<br />
<br />
<h2 style="color: white; text-align: center">
    The importance of improvement, setting an example, and shouldering  responsibility for the future, are our Masonic goals.
</h2>
<br/>
<h2 style="color: white; text-align: center">
    And where will it  all end? In brotherhood. What we build today will endure. That is our  hope and our faith
</h2>
