@layout TelerikLayout
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div>
            <RadzenImage Path="/Pictures/masonic_logo.png" style="width: 80px; height: 80px; border-radius: 8px;"></RadzenImage>
        </div>
        <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
